<link rel="stylesheet" href="/assets/css/chat.css" />

<div id="chatWindow" class="container">
    <div id="friends" class="column bg-light card border-light mb-3 contacts_card">
        <h3>Users Online</h3>
        <div class="card-body contacts_body">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="../assets/images/avatar01.png" class="rounded-circle user_img">
                </div>
                <div class="user_info">
                    <span>Sarah</span>
                </div>
            </div>
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="../assets/images/avatar02.png" class="rounded-circle user_img">
                </div>
                <div class="user_info">
                    <span>Andrew</span>
                </div>
            </div>

            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="../assets/images/avatar03.png" class="rounded-circle user_img">
                </div>
                <div class="user_info">
                    <span>RJ</span>
                </div>
            </div>

            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="../assets/images/avatar04.png" class="rounded-circle user_img">
                </div>
                <div class="user_info">
                    <span>Annisa</span>
                </div>
            </div>

        </div>
    </div>
    <div id="conversation" class="column">
        <h3>Conversation with Sarah</h3>
        <div id="conversationHistory">
            <ul id="chat_messages_id">

                {{messages}}

            </ul>
        </div>
        <div class="input-group">
            <textarea name="" class="form-control type_msg" placeholder="Type your message here..."></textarea>
            <button class="btn btn-main">Send</button>
        </div>
    </div>
</div>

</div>