<link rel="stylesheet" href="/assets/css/welcome.css" type="text/css" />
<script src="/js/login.js"></script>
<div id="signupForm">
    <div class="heading">
        <h1 class="mb-4 primary">Welcome Back!</h1>
        <p>To log in to your account, please use the form below.</p>
    </div>
    <div class="imgcontainer">
        <img src="/assets/images/avatar01.png" alt="Avatar" class="avatar" />
    </div>
    <p><small>Don't have an account? Create one <a href="/signup">here.</a></small></p>
    <form class="login container">
        <input id="email-input" type="text" placeholder="email address" name="email" required />
        <input id="password-input" type="password" placeholder="password" name="psw" required />
        <button class="btn btn-main">Log In</button>
    </form>
</div>