<div>

    <p>username = {{username}}</p>

    <input type="text" size="50" id="chat_string_id" />

    <input type="button" value=" SEND  ! " onclick="send_message()" />



    <ul id="chat_messages_id">

        {{messages}}

    </ul>

</div>