<div>

    <p>username = {{username}}</p>

    <input type="text" size="50" id="chat_string_id" />

    <input type="button" value=" SEND  ! " onclick="send_message()" />



    <ul id="chat_messages_id">

        {{messages}}

    </ul>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
    integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>