<link rel="stylesheet" href="/assets/css/welcome.css" type="text/css" />
<div id="signupForm">
    <form class="signup">
        <div class="heading">
            <h1 class="mb-4 primary">Welcome!</h1>
            <p>To create your account, please use the form below.</p>
        </div>
        <div class="imgcontainer">
            <img src="/assets/images/avatar01.png" alt="Avatar" class="avatar" />
        </div>

        <div class="container">
            <input type="text" placeholder="email address" name="email" id="form_email" required />
            <input type="password" placeholder="pasword" name="password" id="form_password" required />
            <input type="password" placeholder="confirm pasword" name="password2" id="form_password2" required />
            <button type="submit" class="btn btn-main">Create Account</button>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
    integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/signup.js"></script>