<link rel="stylesheet" href="/assets/css/user.css" />

<div id="chatWindow" class="container chat-main">
    <div class="join-container">
        <header class="join-header">
            <h1>Welcome</h1>
        </header>
        <main class="join-main">
            <form action="chat">
                <div class="form-row">

                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter username..." required />

                </div>
                <div class="form-row">

                    <label for="room">Room</label>
                    <select name="room" id="room">
                        <option value="JavaScript">JavaScript</option>
                        <option value="Python">Python</option>
                        <option value="PHP">PHP</option>
                        <option value="C#">C#</option>
                        <option value="NodeJS">NodeJS</option>
                        <option value="Ruby">Ruby</option>
                        <option value="Java">Java</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-main">Join Chat</button>
            </form>
        </main>
    </div>
</div>