        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        .navbar {
          padding: 16px;
          margin-bottom: 15px;
        }
        .navbar-nav>li {
  margin-left: 10px;
  margin-right: 10px;
}
        /* body {
            font: 13px Helvetica, Arial;
        }

        form {
            background: #00 0;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 75%;
            margin-left: 25%;
        }

        form input {
          border: 3px solid #f1f1f1;
          padding: 10px;
          width: 94%;
        }

        form button {
            border: 3px solid #f1f1f1;
            padding: 12px;
            float: right;
        } */

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }

        h2 {
            font-weight: 100;
            color: rgb(57, 115, 172);
        }

        /*not me*/
        body,html{
          height: 100%;
          margin: 0;
         
        }
    
        .chat{
          margin-top: 3%;
          margin-bottom: auto;
        }
        .card{
          height: 500px;
          border-radius: 15px !important;
          background-color: white !important;
        }
        .contacts_body{
          padding:  0.75rem 0 !important;
          overflow-y: auto;
          white-space: nowrap;
        }
  
        .card-header{
          border-radius: 15px 15px 0 0 !important;
          border-bottom: 0 !important;
        }
       .card-footer{
        border-radius: 0 0 15px 15px !important;
          border-top: 0 !important;
      }
    
        .type_msg{
          border:0 !important;
          color:black !important;
          height: 60px !important;
          overflow-y: auto;
        }
          .type_msg:focus{
             box-shadow:none !important;
               outline:0px !important;
        }



        .contacts{
          list-style: none;
          padding: 0;
        }
        .contacts li{
          width: 100% !important;
          padding: 5px 10px;
          margin-bottom: 15px !important;
        }

        .user_img{
          height: 70px;
          width: 70px;
          border:1.5px solid #f5f6fa;
        }

      .user_info{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
      }
      .user_info span{
        font-size: 20px;
        color: black;
      }
