        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,body{
          height:95%;
          width:100%
          min-width:100%;
          }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: rgb(255, 255, 255);
        }

     
        .column {
          float: left;
        }
        
        .left {
          width: 20%;
        }
        
        .right {
          width:80%;
        }

        .contacts_body{
          padding: 0;
          margin: 0;
          overflow-y: auto;
        }
  
     .card-body{
       height: 75%;
     }
        .card-header{
          color: black;
          font-weight: bold;
          font-size: large;
          padding: 0%;
          border:0 !important;
        }

       .card-footer{
            background-color:white;
            padding: 0;
            margin: 0;
      }
    
        .type_msg{
          border:0 !important;
          color:black !important;
          height: 40px !important;
          overflow-y: auto;
        }
          .type_msg:focus{
             box-shadow:none !important;
               outline:0px !important;
        }

        .contacts{
          list-style: none;
          padding: 0;

        }

        .contacts li{
          width: 100% !important;
          margin-bottom: 15px !important;
        }

        .d-flex{
          padding-top: 10px;
        }
        .user_img{
          height: 80px;
          width: 80px;
        }

      .user_info{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;

      }
      .user_info span{
          margin-top: 0;
          margin-bottom: 1rem;
          font-size: 1.15rem;
          color: #949494;
          font-weight: bold;

      }