* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 22px;
  font-weight: 600;
}

#chatWindow {
  min-height: 90vh;
}

#navWrapper {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: relative;
}

.navbar {
  margin-bottom: 0;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: rgb(255, 255, 255);
}

#chatWindow {
  display: flex;
}

#conversation {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}

#conversationHistory {
  overflow-y: auto;
  flex: 1 1 auto;
}

#friends {
  flex-grow: 1;
}

.column {
  padding: 20px;
}

.contacts_body {
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.card-body {
  height: 75%;
}

.card-header {
  color: black;
  font-weight: bold;
  font-size: large;
  padding: 0%;
  border: 0 !important;
}

.card-footer {
  background-color: white;
  padding: 0;
  margin: 0;
}

#conversation .type_msg {
  height: 40px;
  overflow-y: auto;
  resize: none;
}

#conversation .btn-main {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.contacts {
  list-style: none;
  padding: 0;

}

.contacts li {
  width: 100% !important;
  margin-bottom: 15px !important;
}

.d-flex {
  padding-top: 10px;
}

.user_img {
  height: 80px;
  width: 80px;
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;

}

.user_info span {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  color: #949494;
  font-weight: bold;

}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}